.body {

}

.wrapper2{
    
    margin:0 15px;

}
@media (min-width: 1024px) and (max-width: 1499px) {

    .wrapper {
        max-width: 100%;
        margin: 0 15px;
    }
}
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    
}





.header {
    position: sticky;
    z-index: 3;
    top: -1px;
    margin-top: 10px;
    background-color: #f8fafe;
}
.market-name {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #010541;
}
.market-logo{

}

.line {
    margin-left: 10px;
}

.line-login {
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: baseline;
    height: 60px;
    font-size: 44px;
    font-weight: 700;
}
.sign {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 20px;
    width: 120px;
    margin: 10px 10px 10px 10px;
}

.sign-hearts-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    border: 0;
    padding: 5px;
}

.sign-basket-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
   
    width: 41px;
    height: 39px;
    padding-top: 5px;
}

.sign-hearts-1__badge-1 {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 80px;
    width: 26px;
    height: 20px;
    background-color: #F36223;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.sign-basket-2__badge-2 {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 17px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #F36223;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}
.header__name {
    display: inline;
}
.header__name_colored {
    color: #f52;
}
.breadcrumbs {
    margin: 20px auto 8px;
}
.breadcrumbs__item {
    color: #008CF0;
    text-decoration: none;
}
.breadcrumbs__item:hover {
    color: #F36223 
}
.main{
    margin: 0 auto;
    max-width: 1499px;
}
.product {
    margin-bottom: 30px;
}
.product__name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.product__view {
    display: flex;
    
}

 
    * {
        margin: 0;
        padding: 0;
    }


.product-general{
display: flex;
}
.palette {
    display: flex;
    gap: 10px;
}

.product-general {
    display: flex;
   
    gap: auto;
    
}

@media (min-width: 1024px) and (max-width: 1499px) {

.product-general{
    gap: 7%;}
    }

.product-info {
    margin-bottom: 30px;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #f36223;
}

li::before {
    content: "•";
    padding-right: 10px;
    font-size: 40px;
    color: #a1a1a1;
    vertical-align: -7px;
    line-height: 1px;
}

.product__characteristics li {
    margin-bottom: 10px;
    list-style: none;
}
.product-info__name,
.reviews-form__product-info__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}



.product-info__color-container {
    display: flex;
    gap: 10px;
}
.product-info__color-button {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-info__color-button:hover {
    background-color: #eee;
}
.product-info__color-button_selected {
    border: 2px solid #f52;
}
.product-info__color-icon {
    height: 60px;
}
.memory__config{
    margin-bottom: 25px;
}
.memory__config button {
    padding: 10px 20px;
    font-size: 16px;
    margin: auto;
    }
.memory__config button:hover {
    background-color: #e7e7e7;
    }
.memory__config button:active {
    background-color: #c0c0c0;
    }
.memory__config-phone {
    height: 19px;
    left: 0px;
    top: 144px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px
    }
.button{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    
}
.button_selected{
    border: 2px solid #F36223;
}
    

.description{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px;
    
    }
.description__paragraph{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    }
    .description__paragraph-third{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 30px 0px;

    }



.sidebar {  
 
   
    }
.sidebar__price {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 360px;
    height: 300px;
    margin: 0px 0px 67px;

    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    }
.sidebar__price-old {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    }
.sidebar__price-old-sum{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
    font-family: sans-serif;
    }
.sidebar__price-discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: sans-serif;    text-align: center;
    }
.sidebar__price-new-sum {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    font-family: sans-serif;
    }
.delivery {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    }
.courier{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: sans-serif;
    }
.basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px auto;
    width: 100%;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    border-color: #F36223;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: sans-serif;
    }
.basket:hover {
    background: #DA4A0C;
    border-radius: px;
}
.advertising{
    font-family: 'Inter';
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.ads-iframe {
    display: block;
    width: 360px;
    height: 300px;
    margin-bottom: 15px;
    border: 1px dashed #888888;
    background-color: #eee;

    }


.block{
    padding: 0 20px;
    gap: 10px;
    }
    ul{
    padding: 0;
    margin-left: 0px;
    }


.app{
    max-width: 1500px;
    margin: 0 auto;
}
.rewiew-section{
    max-width: 600px;
}
.rewiew-section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 30px 0px;
}
.rewiew-section__wrapper{
    display: flex;
    gap: 10px;
}
.rewiew-section__title{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter';
}
.rewiew-section__count{
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}
.rewiew-section__list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px 0px 15px 0px;
}

.rewiew{
    display: flex;
    gap: 30px;

}
.rewiew__photo{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
.rewiew__name{
    margin: 0px 0px 10px 0px;
}
.rewiew__rating{
    margin: 0px 0px 10px 0px;
    width: 60px;
    height: 20px;
}
.rewiew__parametrs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px 15px 0px;
}
.product__description {
    max-width: 63%;


}
.product__description p {
    margin-top: 15px;
}



.review__paragraph{

}
.lines {
    margin-left: 0px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px dashed #888888;
}

.review__paragraph_last{
    margin: 0px 0px 40px 0px;
}






.rew__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
}

.rew__wishes {
    display: flex;
    gap: 40px;
    margin: 0px 0px 30px 0px;
}

.rew__wishes_fаirst{
    width: 379px;
    padding: 20px;
    font-size: 16px;
    font-family: sans-serif;
}

.rew__line_second{
    width: 175px;
    padding: 20px;
    font-size: 16px;
    font-family: sans-serif;
}


textarea {
    width: 650px;
    padding: 15px;
    height: 150px;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid #888888;
    margin: 0px 0px 30px 0px;
}

.rew__wishes-all {
    margin: 0px 0px 100px 0px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0 20px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
}

.rew__wishes-all:hover {
    background: #cb4207;
}


.svg__foto-test:hover{
    color: black;
    margin:  10px 20px 20px 20px;

}




.foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: auto;
    padding: 0px 15px;
    background: #F2F2F2;

}
.organization__comtact{
    padding: 30px 0px;
    font-family: sans-serif;
    font-size: 14px;


}
.organization__info{
    font-weight: 600;
}
.organization__title{
    color: #f52;
}

.organization__info{ 
    color: #000000;
}


.anchor__cell {
    display: flex;
    align-items: center;
}

.anchor__word {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
}



.product-info {
    margin-bottom: 30px;
}

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #f36223;
}

li::before {
    content: "•";
    padding-right: 10px;
    font-size: 40px;
    color: #a1a1a1;
    vertical-align: -7px;
    line-height: 1px;
}

.product__characteristics li {
    margin-bottom: 10px;
    list-style: none;
}
.product-info__name,
.reviews-form__product-info__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}





.product__image {
    display: inline-flex;
    height: 25.8vw;
    overflow: hidden;
}

.responsive__image {    
    /* height: 25.8vw; */
}

img.responsive__image {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}



/* Стиль таблицы */


.none__table{
    display: none;
}

 table {
    border-collapse: collapse;
    border: 1px solid grey;
    
    }

.table {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 30px;

}
    

.table__comparison{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
    }

.table__line{

    }
    
.table__characteristics{
    height: 40px;
    }

 .table__words-column {
    border: 1px solid grey;
    Font-size: 16px;
    Line-height: 100%;
    padding: 10px;
    font-family: sans-serif;
    }

.table__model-cell  {
    border-collapse: collapse;
    text-align: center;
    }
 
.table__words-names:hover {
    background-color: #F2F2F2;
    }
    
.table__words-cell {
    border-right: 1px solid grey;
    Font-size: 16px;
    Line-height: 100%;
    text-align: left;
    padding: 10px;
    font-family: sans-serif;
    }



/* Adaptive */


/* For mobile */
/* @media (max-width: 575px) {  }

/* For Tablet */
/* @media (min-width: 576px) and (max-width: 767px) {  }

/* For Tablet Pc */
/* @media (min-width: 768px) and (max-width: 991px) {  } */

/* For Desctop */
/* @media (min-width: 992px) and (max-width: 1023px) {  } */

/* For large Desctop */
/* @media (min-width: 1024px) { 
    .wrapper {
        max-width: 1024px;
    }
} */

@media (min-width: 1500px){
    .none__table{
        display: block;
    }}

    /* .wrapper {
        max-width: 1400px;
    }

} */


.sidebar-heart {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: fit-content;
}

.sidebar-heart__sign {
    fill: #888888;
    margin: 0px 0px 0px 140px;
}

.sidebar-heart:hover>.sidebar-heart__sign {
    fill: #f36223;
}

.sidebar-heart:active>.sidebar-heart__sign {
    fill: #A93A09;
}
