
.body {
    margin: 0 auto;
    max-width: 1400px;
}

.stayl {
    margin: 50px;
}
.header {
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 7px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    
}
.header__name {
    display: inline;
}
.header__name_colored {
    color: #f52;
}
.breadcrumbs {
    margin: 20px auto 8px;
}
.breadcrumbs__item {
    color: #008CF0;
    text-decoration: none;
}
.breadcrumbs__item:hover {
    color: #F36223 
}
.main{
    margin: 0 auto;
    max-width: 1440px;
}
.product {
    margin-bottom: 30px;
}
.product__name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.product__view {
    display: flex;
    gap: 10px;
}
.product__image {
    height: 387px;
}
.palette {
    display: flex;
    gap: 10px;
}
.product-general {
    display: flex;
    margin-right: auto;
    justify-content: space-between;
    gap: 100px;
}
.product-description {
    margin-bottom: 50px;
}
.product-info {
    margin: 0px 0px 15px 0px;
}
.product-info__name {
    margin: 0px auto 15px auto;
}
.product-info__list {
   
    margin: 0px 0px 15px 0px;
}
.product-info__list-characteristic{
    margin: 0px 
}
.product-info__color-container {
    display: flex;
    gap: 10px;
}
.product-info__color-button {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-info__color-button:hover {
    background-color: #eee;
}
.product-info__color-button_selected {
    border: 2px solid #f52;
}
.product-info__color-icon {
    height: 60px;
}
.memory__config{
    margin-bottom: 25px;
}
.memory__config button {
    padding: 10px 20px;
    font-size: 16px;
    margin: auto;
    }
.memory__config button:hover {
    background-color: #e7e7e7;
    }
.memory__config button:active {
    background-color: #c0c0c0;
    }
.memory__config-phone {
    height: 19px;
    left: 0px;
    top: 144px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px
    }
.button{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    
}
.button_selected{
    border: 2px solid #F36223;
}
    
.iphone13__characteristic{
    padding: 0px;
    gap: 10px;
    line-height: 30px;
    }
.phone13__characteristic-p{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    }
.iphone13-patametrs li {
    margin-bottom: 10px;
    list-style: none;
    }
    .iphone13-patametrs li:before {
    content: "•";
    padding-right: 10px;
    font-size: 40px;
    color: #a1a1a1;
    vertical-align: middle;
    line-height: 1px;
    }
.description{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px;
    
    }
.description__paragraph{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 15px 0px;
    
    }
    .description__paragraph-third{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 30px 0px;

    }

.sidebar {  
    width: 800px;
    }
.sidebar__price {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;
    height: 275px;
    margin: 0px 0px 67px;

    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    }
.sidebar__price-old {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    }
.sidebar__price-old-sum{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
    font-family: sans-serif;
    }
.sidebar__price-discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: sans-serif;
    }
.sidebar__price-new-sum {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    font-family: sans-serif;
    }
.delivery {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    }
.courier{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: sans-serif;
    }
.basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px auto;
    width: 100%;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    border-color: #F36223;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: sans-serif;
    }
.basket:hover {
    background: #DA4A0C;
    border-radius: px;
}
.advertising{
    font-family: 'Inter';
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.ads-iframe {
    display: block;
    width: 420px;
    height: 250px;
    margin-bottom: 15px;
    border: 1px dashed #888888;
    background-color: #eee;

    }




 table {
    border-collapse: collapse;
    border: 1px solid grey;
    }
    
.table {
    display: flex;
    justify-content: flex-start;
     align-items: center;
    font-family: sans-serif;
    margin-bottom: 30px;
    }
    
.table__comparison{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
    }
    
.table__line{
    width: 876px;
    }
    
.table__characteristics{
    height: 40px;
    }
   
 .table__words-column {
    border: 1px solid grey;
    Font-size: 16px;
    Line-height: 100%;
    padding: 10px;
    font-family: sans-serif;
    }
.table__model-cell  {
    border-collapse: collapse;
    text-align: center;
    }
 
.table__words-names:hover {
    background-color: #F2F2F2;
    }
    
.table__words-cell {
    border-right: 1px solid grey;
    Font-size: 16px;
    Line-height: 100%;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    }
    
    



.block{
    padding: 0 20px;
    gap: 10px;
    }
    ul{
    padding: 0;
    margin-left: 0px;
    }


.app{
    max-width: 1400px;
    margin: 0 auto;
}
.rewiew-section{

    max-width: 880px;
}
.rewiew-section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 30px 0px;
}
.rewiew-section__wrapper{
    display: flex;
    gap: 10px;
}
.rewiew-section__title{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter';
}
.rewiew-section__count{
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}
.rewiew-section__list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px 0px 15px 0px;
}

.rewiew{
    display: flex;
    gap: 30px;

}
.rewiew__photo{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}
.rewiew__name{
    margin: 0px 0px 10px 0px;
}
.rewiew__rating{
    margin: 0px 0px 15px 0px;
}
.rewiew__parametrs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px 15px 0px;
}
.review__paragraph{

}
.lines {
    margin-left: 170px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px dashed #888888;
}

.review__paragraph_last{
    margin: 0px 0px 40px 0px;
}






.rew__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
}

.rew__wishes {
    display: flex;
    gap: 40px;
    margin: 0px 0px 30px 0px;
}

.rew__wishes_fаirst{
    width: 400px;
    padding: 20px;
    font-size: 16px;
    font-family: sans-serif;
}

.rew__line_second{
    width: 180px;
    padding: 20px;
    font-size: 16px;
    font-family: sans-serif;
}


textarea {
    width: 675px;
    padding: 15px;
    height: 150px;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid #888888;
    margin: 0px 0px 30px 0px;
}

.rew__wishes-all {
    margin: 0px 0px 100px 0px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0 20px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
}

.rew__wishes-all:hover {
    background: #cb4207;
}







.foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 400px;
    padding: 0px 50px;
    background: #F2F2F2;

}
.organization__comtact{
    padding: 30px 0px;
    font-family: sans-serif;
    font-size: 14px;


}
.organization__info{
    font-weight: 600;
}
.organization__title{
    color: #f52;
}

.organization__info{ 
    color: #000000;
}


.anchor__cell {
    display: flex;
    align-items: center;
}

.anchor__word {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
}












