href="favicon.ico" sizes="any">
<link rel="icon" href="img/favicons/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
<link rel="stylesheet" href="static/css/style.css" type="text/css">
<title>МойМаркет</title>
</head>
<body class="page-body">
<div class="page-body__container">
  <div id="top"></div>

  <header class="header">
    <div class="header__logo-wrapper">
      <a class="header__logo" href="index.html"><img class="header__logo-img" src="img/main-logo.png" alt="Логотип сайта"></a>
      <h1 class="header__title"><span class="header__title-decoration">Мой</span>Маркет</h1>
    </div>
    <div class="header__menu-wrapper">
      <div class="header__favorites">
        <a class="header__favorites-link" href="#">
          <svg class="header__favorites-img" width="43" height="35" alt="Избранное">
            <use xlink:href="img/sprite.svg#favorites-img"></use>
          </svg>
          <div class="header__favorites-counter-wrapper header__favorites-counter-wrapper_hiden-js">
            <span class="header__favorites-counter">0</span>
          </div>
        </a>
      </div>
      <div class="header__basket">
        <a class="header__basket-link" href="#">
          <svg class="header__basket-img" width="41" height="39" alt="Корзина">
            <use xlink:href="img/sprite.svg#basket-img"></use>
          </svg>
          <div class="header__basket-counter-wrapper header__basket-counter-wrapper_hiden-js">
            <span class="header__basket-counter">0</span>
          </div>
        </a>
      </div>
    </div>
  </header>

  <nav class="navigation">
    <a class="navigation__item" href="#">Электроника</a> >
    <a class="navigation__item" href="#">Смартфоны и гаджеты</a> >
    <a class="navigation__item" href="#">Мобильные телефоны</a> >
    <a class="navigation__item" href="#">Apple</a>
  </nav>

  <h2 class="product-title">Смартфон Apple iPhone 13, синий</h2>

  <main>
    <section class="appearance">
      <img class="appearance__item" src="img/image-1.webp" height="387" alt="Вид Apple iPhone 13 спереди и сзади">
      <img class="appearance__item" src="img/image-2.webp" height="387" alt="Фронтальный вид Apple iPhone 13">
      <img class="appearance__item" src="img/image-3.webp" height="387" alt="Вид сбоку Apple iPhone 13">
      <img class="appearance__item" src="img/image-4.webp" height="387" alt="Камера Apple iPhone 13">
      <img class="appearance__item" src="img/image-5.webp" height="387" alt="Вид Apple iPhone 13 сзади">
    </section>

    <div class="main-container">
      <div class="product">

        <section class="product-color">
          <h3 class="product-color__title">Цвет товара: Синий</h3>
          <div class="product-color__list">
            <picture class="product-color__picture">
              <img class="product-color__item" src="img/color-1.webp" height="60" alt="Красный цвет">
            </picture>
            <picture class="product-color__picture">
              <img class="product-color__item" src="img/color-2.webp" height="60" alt="Зеленый цвет">
            </picture>
            <picture class="product-color__picture">
              <img class="product-color__item" src="img/color-3.webp" height="60" alt="Розовый цвет">
            </picture>
            <picture class="product-color__picture product-color__picture_current">
              <img class="product-color__item" src="img/color-4.webp" height="60" alt="Синий цвет">
            </picture>
            <picture class="product-color__picture">
              <img class="product-color__item" src="img/color-5.webp" height="60" alt="Белый цвет">
            </picture>
            <picture class="product-color__picture">
              <img class="product-color__item" src="img/color-6.webp" height="60" alt="Черный цвет">
            </picture>
          </div>
        </section>

        <section class="inner-memory">
          <h3 class="inner-memory__title">Конфигурация памяти: 128 ГБ</h3>
          <div class="inner-memory__list">
            <button class="inner-memory__item inner-memory__item_current" type="button">128 ГБ</button>
            <button class="inner-memory__item" type="button">256 ГБ</button>
            <button class="inner-memory__item" type="button">512 ГБ</button>
          </div>
        </section>

        <section class="characteristics">
          <h3 class="characteristics__title">Характеристики товара</h3>
          <ul class="characteristics__list">
            <li class="characteristics__item">Экран: <b>6.1</b></li>
            <li class="characteristics__item">Встроенная память: <b>128 ГБ</b></li>
            <li class="characteristics__item">Операционная система: <b>iOS 15</b></li>
            <li class="characteristics__item">Беспроводные интерфейсы: <b>NFC, Bluetooth, Wi-Fi</b></li>
            <li class="characteristics__item">Процессор:<b><a class="characteristics__item-link" href="https://ru.wikipedia.org/wiki/Apple_A15" target="_blank">Apple A15 Bionic</a></b></li>
            <li class="characteristics__item">Вес: <b>173 г</b></li>
          </ul>
        </section>

        <section class="description">
          <h3 class="description__title">Описание</h3>
          <p class="description__item">
            Наша самая совершенная система двух камер.<br>
            Особый взгляд на прочность дисплея.<br>
            Чип, с которым всё супербыстро.<br>
            Аккумулятор держится заметно дольше.<br>
            <i>iPhone 13 - сильный мира всего.</i>
          </p>
          <p class="description__item">
            Мы разработали совершенно новую схему расположения и развернули объективы на45 градусов. Благодаря этому внутри корпуса поместилась наша лучшая система двухкамер с увеличенной матрицей широкоугольной камеры. Кроме того, мы освободилиместо для системы оптической стабилизации изображения сдвигом матрицы. Иповысили скорость работы матрицы на сверхширокоугольной камере.
          </p>
          <p class="description__item">
            Новая сверхширокоугольная камера видит больше деталей в тёмных областяхснимков. Новая широкоугольная камера улавливает на 47% больше света для болеекачественных фотографий и видео. Новая оптическая стабилизация со сдвигомматрицы обеспечит чёткие кадры даже в неустойчивом положении.Режим «Киноэффект» автоматически добавляет великолепные эффекты перемещенияфокуса и изменения резкости. Просто начните запись видео.
          </p>
          <p class="description__item">
            Режим «Киноэффект»будет удерживать фокус на объекте съёмки, создавая красивый эффект размытиявокруг него. Режим «Киноэффект» распознаёт, когда нужно перевести фокус на другогочеловека или объект, который появился в кадре. Теперь ваши видео будут смотретьсякак настоящее кино.
          </p>
        </section>

        <section class="comparison">
          <h3 class="comparison__title">Сравнение моделей</h3>

          <div class="comparison__table">
            <span class="comparison__cell comparison__cell-head">Модель</span>
            <span class="comparison__cell comparison__cell-head">Вес</span>
            <span class="comparison__cell comparison__cell-head">Высота</span>
            <span class="comparison__cell comparison__cell-head">Ширина</span>
            <span class="comparison__cell comparison__cell-head">Толщина</span>
            <span class="comparison__cell comparison__cell-head">Чип</span>
            <span class="comparison__cell comparison__cell-head">Объём памяти</span>
            <span class="comparison__cell comparison__cell-head">Аккумулятор</span>

            <span class="comparison__cell comparison__cell_hover">Iphone11</span>
            <span class="comparison__cell comparison__cell_hover">194 грамма</span>
            <span class="comparison__cell comparison__cell_hover">150.9 мм</span>
            <span class="comparison__cell comparison__cell_hover">75.7 мм</span>
            <span class="comparison__cell comparison__cell_hover">8.3 мм</span>
            <span class="comparison__cell comparison__cell_hover">A13 Bionic chip</span>
            <span class="comparison__cell comparison__cell_hover">до 128 Гб</span>
            <span class="comparison__cell comparison__cell_hover">До 17 часов</span>

            <span class="comparison__cell comparison__cell_hover">Iphone12</span>
            <span class="comparison__cell comparison__cell_hover">164 грамма</span>
            <span class="comparison__cell comparison__cell_hover">146.7 мм</span>
            <span class="comparison__cell comparison__cell_hover">71.5 мм</span>
            <span class="comparison__cell comparison__cell_hover">7.4 мм</span>
            <span class="comparison__cell comparison__cell_hover">A14 Bionic chip</span>
            <span class="comparison__cell comparison__cell_hover">до 256 Гб</span>
            <span class="comparison__cell comparison__cell_hover">До 19 часов</span>

            <span class="comparison__cell comparison__cell_hover">Iphone13</span>
            <span class="comparison__cell comparison__cell_hover">174 грамма</span>
            <span class="comparison__cell comparison__cell_hover">146.7 мм</span>
            <span class="comparison__cell comparison__cell_hover">71.5 мм</span>
            <span class="comparison__cell comparison__cell_hover">7.65 мм</span>
            <span class="comparison__cell comparison__cell_hover">A15 Bionic chip</span>
            <span class="comparison__cell comparison__cell_hover">до 512 Гб</span>
            <span class="comparison__cell comparison__cell_hover">До 19 часов</span>
          </div>
        </section>

      </div>
      <div class="aside-container">

        <div class="price-menu">
          <div class="price-menu__wrapper">
            <div class="price-menu__discont-wrapper">
              <span class="price-menu__old-price">75 990₽</span>
              <span class="price-menu__discont">-8%</span>
            </div>
            <button class="price-menu__favorites-button" type="button">
              <svg class="price-menu__favorites-img" width="26" height="20" alt="Добавить в избранное">
                <use class="price-menu__favorites-img-svg" xlink:href="img/sprite.svg#favorites-img"></use>
              </svg>
            </button>
          </div>
          <h3 class="price-menu__price">67 990₽</h3>
          <p class="price-menu__delivery">Самовывоз в четверг, 1 сентября — <span class="price-menu__delivery-bold">бесплатно</span></p>
          <p class="price-menu__delivery">Курьером в четверг, 1 сентября — <span class="price-menu__delivery-bold">бесплатно</span></p>
          <p class="price-menu__button-wrapper">
            <button class="price-menu__button button button__addCart" type="button">Добавить в корзину</button>
          </p>
        </div>

        <aside class="advertisements">
          <p class="advertisements__text">Реклама</p>
          <div class="advertisements__list">
            <iframe class="advertisements__item" src="./ads.html" frameborder="1"></iframe>
            <iframe class="advertisements__item" src="./ads.html" frameborder="1"></iframe>
          </div>
        </aside>

      </div>
    </div>

    <section class="reviews">
      <div class="reviews__header">
        <div class="reviews__wrapper">
          <h3 class="reviews__title">Отзывы</h3>
          <span class="reviews__amount">425</span>
        </div>
      </div>
      <div class="reviews__list">
        <div class="reviews__item review">
          <div class="review__avatar">
            <img class="review__avatar-img" src="https://thispersondoesnotexist.com/image" height="140" width="140" alt="Аватар автора комментария">
          </div>
          <div class="review__wrapper">
            <p class="review__autor">Марк Г.</p>
            <div class="review__rating">
              <img class="review__rating-img" src="img/star-5.svg" height="30" alt="Оценка товара">
            </div>
            <div class="review__details">
              <p class="review__detail">
                <span class="review__detail-title">Опыт использования:</span> менее месяца
              </p>
              <p class="review__detail">
                <span class="review__detail-title">Достоинства:</span> <br>
                это мой первый айфон после после огромного количества телефонов на андроиде. всёплавно, чётко и красиво. довольно шустрое устройство. камера весьма неплохая,ширик тоже на высоте.
              </p>
              <p class="review__detail">
                <span class="review__detail-title">Недостатки:</span> <br>
                к самому устройству мало имеет отношение, но перенос данных с андроида - адская вещь) а если нужно переносить фото с компа, то это только через itunes, который урезает качество фотографий исходное
              </p>
            </div><!-- review__details -->
          </div><!-- review__wrapper -->
        </div><!-- reviews__item review -->

        <div class="reviews__separator"></div>

        <div class="reviews__item review">
          <div class="review__avatar">
            <img class="review__avatar-img" src="https://thispersondoesnotexist.com/image" height="140" width="140" alt="Аватар автора комментария">
          </div>
          <div class="review__wrapper">
            <p class="review__autor">Валерий Коваленко</p>
            <div class="review__rating">
              <img class="review__rating-img" src="img/star-4.svg" height="30" alt="Оценка товара">
            </div>
            <div class="review__details">
              <p class="review__detail">
                <span class="review__detail-title">Опыт использования:</span> менее месяца
              </p>
              <p class="review__detail">
                <span class="review__detail-title">Достоинства:</span> <br>
                OLED экран, Дизайн, Система камер, Шустрый А15, Заряд держит долго
              </p>
              <p class="review__detail">
                <span class="review__detail-title">Недостатки:</span> <br>
                Плохая ремонтопригодность
              </p>
            </div><!-- review__details -->
          </div><!-- review__wrapper -->
        </div><!-- reviews__item review -->
      </div><!-- reviews__list -->
    </section>

    <section class="review-form">
      <div class="review-form__wrapper">
        <h3 class="review-form__title">Добавить свой отзыв</h3>
        <form class="review-form__form" action="#">
          <div class="review-form__form-wrapper">
            <div class="review-form__form-wrapper-input">
              <input class="review-form__name review-form__name_hover" type="text" name="user-name" placeholder="Имя и фамилия">
              <div class="review-form__name-error"></div>
            </div>
            <div class="review-form__form-wrapper-input">
              <input class="review-form__rating review-form__rating_hover" type="number" name="rating" min="1" max="5" step="1" placeholder="Оценка">
              <div class="review-form__rating-error"></div>
            </div>
            <textarea class="review-form__text-review review-form__text-review_hover" name="text-review" placeholder="Текст отзыва"></textarea>
          </div>
          <button class="review-form__button button button_size_small" type="submit">Отправить отзыв</button>
        </form>
      </div>
    </section>
  </main>
</div><!-- page-body__container -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__copyright">
      <p class="footer__title">
         © ООО «<span class="footer__title-decoration">Мой</span>Маркет», 2018-2022.
      </p>
      <p>
        Для уточненияинформации звоните по номеру <a class="footer__copyright-link footer__copyright-link_hover" href="tel:79000000000">+7 900 000 0000</a>,
      </p>
      <p>
        предложения по сотрудничеству отправляйте на почту <a class="footer__copyright-link footer__copyright-link_hover" href="mailto:partner@mymarket.com">partner@mymarket.com</a>
      </p>
    </div><!-- footer__copyright -->
    <div class="footer__top-page">
      <a class="footer__top-link footer__top-link_hover" href="#top">Наверх</a>
    </div><!-- footer__top-page -->
  </div><!-- footer__container -->
</footer>
<!-- <script src="./src/js/homework23.js"></script> -->
<script src="./page-product1.js"></script>
<script src="./data.js"></script>
</body>
</html>
